* {
    margin: 0;
    padding: 0;
}


/*adactacion a dispositivos*/

/*mobile*/
@media screen and (max-width: 767px) {
    .servicios .servicios-dos {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: 20px;
        align-content: center;
        gap: 20px;
    }
    .inicio {
        margin: auto;
    }
    .productos {
        margin: O 40PX;
    }

}

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 998px) {
    .servicios .servicios-dos {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: 30px;
        align-content: center;
        gap: 20px;
    }
    .productos .orden-productos {
        font-size: 15px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 50%);
    }
    .productos .orden-productos img {
        width: 100%;
        height: 200px;

    }
}

/*escritorio*/
 @media screen and (min-width: 999px) {
    .servicios .servicios-dos {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: 40px;
        align-content: center;
        gap: 20px;
    }
    .productos .orden-productos {
        font-size: 20px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 50%);
    }
    .productos .orden-productos img {
        width: 100%;
        height: 300px;

    }
 }
/*inicio*/

.inicio div .inicio-titulo {
    text-align: center;
    font-size: 25px;
}
.inicio div .inicio-fondo {
    width: 100%;
}
.inicio .catalogo {
    margin: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 1fr;
    gap: 20px;
    align-content: center;
}
.inicio .catalogo img {
     width: 100%;
     height: 75%;
     display: flex;
     flex-wrap: wrap;
}
.inicio .catalogo .catalogo-dos {
    text-align: center;
    
}
/*productos*/
.productos {
    margin: 0 15px;
    font-size: 20px;
    text-align: center;
}
.productos img {
    width: 100%;
    height: 80%;
}
.productos .orden-productos .producto-uno {
    background-color: #111;
    color: #ffffff;
    margin: 10px 10px;
}

/*servicios*/

.servicios {
    margin: 0 30px;
}

.servicios-img {
    width: 50%;
    height: 50%;
}


 /*contacto*/
.horario4 {
    background-color: black;
}
.horario4 .horario {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    
}
.horario4 .horario div .horario2 p{
    margin-top: 30px;
    margin-bottom: 30px;
}

/*local*/

.contenedor-map {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.contenedor-map div .map2 {
    margin: 0 30px;
    color: #ffffff;
    text-align: center;   
}


/*footer*/

.footer {
    width: 100%;
    background-color: #111;
    padding: 40px 0;
}
.footer .container-footer .footer-row {
    display: flex;
    flex-wrap: wrap;
}
.footer .container-footer .footer-row .footer-links {
    width: 25%;
    padding: 0 15%;
}
.footer .container-footer .footer-row .footer-links h2 {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}
.footer .container-footer .footer-row .footer-links ul li {
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer .container-footer .footer-row .footer-links ul li:hover {
    color: #ffffff;
    padding-left: 6px;
}
.footer .container-footer .footer-row .social-links a {
    min-height: 400px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    transition: all .5s ease;
}
.footer .container-footer .footer-row .social-links {
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer .container-footer .footer-row .social-links:hover {
    color: #ffffff;
    padding-left: 6px;
}






