//colores 
$color-principal: #ffffff ;
$color-segundario: #111;
$color-terciario: #bbbbbb;
$color-cuarto:#00c3ff;

//medida de gap
$gap-size: 20px;

//medida del text
$text-align: center; 

//font-size tamaño

$font-size: 20px;